<main class="content">
  <div>
    <h1>Add User Details</h1>
  </div>
  <form [formGroup]="userForm!" (submit)="addStudentData()">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Student-ID</mat-label>
        <input
          matInput
          placeholder="Id"
          formControlName="sId"
          [ngStyle]="{
            border:
              userForm?.get('sId')?.invalid &&
              (userForm?.get('sId')?.dirty || userForm?.get('sId')?.touched)
                ? '1px solid red'
                : '1px solid green'
          }"
        />
        <mat-hint
          *ngIf="
            userForm?.get('sId')?.invalid &&
            (userForm?.get('sId')?.dirty || userForm?.get('sId')?.touched)
          "
        >
          <span>Invalid Id</span>
        </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Name"
          formControlName="name"
          [ngStyle]="{
            border:
              userForm?.get('name')?.invalid &&
              (userForm?.get('name')?.dirty || userForm?.get('name')?.touched)
                ? '1px solid red'
                : '1px solid green'
          }"
        />
        <mat-hint
          *ngIf="
            userForm?.get('name')?.invalid &&
            (userForm?.get('name')?.dirty || userForm?.get('name')?.touched)
          "
        >
          <span>Name can't be empty</span>
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-4 my-2" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          [ngStyle]="{
            border:
              userForm?.get('email')?.invalid &&
              (userForm?.get('email')?.dirty || userForm?.get('email')?.touched)
                ? '1px solid red'
                : '1px solid green'
          }"
        />
        <mat-hint
          *ngIf="
            userForm?.get('email')?.invalid &&
            (userForm?.get('email')?.dirty || userForm?.get('email')?.touched)
          "
        >
          <span>Invalid email</span>
        </mat-hint>
      </mat-form-field>
      <mat-form-field class="col-4 my-2" appearance="outline">
        <mat-label>Phone</mat-label>
        <input
          matInput
          placeholder="Phone"
          formControlName="phone"
          [ngStyle]="{
            border:
              userForm?.get('phone')?.invalid &&
              (userForm?.get('phone')?.dirty || userForm?.get('phone')?.touched)
                ? '1px solid red'
                : '1px solid green'
          }"
        />
        <mat-hint
          *ngIf="
            userForm?.get('phone')?.invalid &&
            (userForm?.get('phone')?.dirty ||
              userForm?.get(
                'phone
              '
              )?.touched)
          "
        >
          <span>Invalid Number</span>
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-select formControlName="gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
        <mat-label> Gender </mat-label>
      </mat-form-field>
      <div class="button"></div>
    </div>
    <div class="button1">
      <button
        mat-raised-button
        color="primary"
        [disabled]="userForm?.invalid"
        (click)="openSnackBar()"
      >
        Submit
      </button>
    </div>
  </form>
</main>
