h1{
    color: #277BE9;
}

.row{
    display: flex;
    justify-content: space-around;
}

mat-form-field{
    width: 30vw;
}

.button{
    width: 30vw;
}

.button1{
    display: flex;
    justify-content: center;
}

span{
    color: red;
}