h1{
    color: #277BE9;
    display: flex;
    justify-content: center;
}
.center {
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  
  .wrapperind {
    height: calc(100vh - 20px);
  }
  .inner {
    padding: 12px;
  }